<%- include('partials/header.ejs') %>

<body>
    <div class="container mt-2">
        <div class="alert alert-success">
            <strong>Success!</strong> Deploy made successful. Access: <a href="<%=link %>"><%= link %></a>
          </div>
    </div>
</body>
</html>