<%- include('partials/header.ejs') %>

<body>
    <div class="container mt-2">
        <a href="https://github.com/login/oauth/authorize?client_id=9623a9a343edcf033caa&redirect_uri=https://create-site-deploy-github.herokuapp.com/oauth-callback&scope=user%20public_repo"
        class="btn btn-primary">Authenticate with Github</a>&nbsp;
    </div>
</body>
</html>